<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <form action="result" method="post">&nbsp&nbsp
            <label>Name</label>&nbsp&nbsp<input type="text" name="name"/>&nbsp&nbsp
            <label>Age</label>&nbsp&nbsp<input type="text" name="age"/>&nbsp&nbsp
            <button type="submit">Submit Query</button>
        </form>
    </body>
</html>