<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Product Page</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <p id="title">
        <span>Available Products</span>
    </p>
    <div id="products-container">
        <form>
            <% for(let i = 0; i < products.length; i++){ %>
                <div id="prod-container">
                    <image id="prod-img" src="/public/" alt="product-image"></image>
                    <h3><%= products[i].name %></h3>
                    <h4>Description: <%= products[i].description %></h4>
                    <h4>Price: <%= products[i].price %></h4>
                    <button type="submit">Add to cart</button><br>&nbsp;&nbsp;
                </div>
            <% } %>
        </form>
    </div>
</body>

</html>