#profile_img img {
    height: 15%;
    width: 15%;
    border-radius: 50%;
}

#profile_img {
    padding-top: 20px;
    padding-bottom:5px;
    max-width: 100%;
    text-align: center;
    background: linear-gradient(black, grey);
}